<div class="center jumbotron">
  <h1>Welcome to MyProject</h1>
  <h2>
    This is the home page for the sample application.
  </h2>
  <% if !user_signed_in? %>
    <%= link_to 'Sign up now', new_user_registration_path, class: "btn btn-lg btn-primary"%>
  <% end %>
</div>
